---
title: Loona Portal

primary_cards:
  - name:  Cabinet User Guide
    blurb: Here are cabinet description.
    url: /guides/loona-guide.html
    background_color: "#5784f7"
  - name: ICO Integration Guid
    blurb: ICO Integration description.
    url: /guides/integration.html
    background_color: "#5bb4f9"
  - name: API
    blurb: API documentation.
    url: /api.html
    background_color: "#80dce2"

secondary_cards:
  - name: Comprehensive API Docs
    blurb: Build exactly what you need with our modern APIs and webhooks.
    url: /api.html
    cta: Explore docs
  - name: Detailed Guides and Tutorials
    blurb: TradeGecko’s thorough use cases provide step-by-step instructions to build integrations quickly and easily.
    url: /api.html#guides
    cta: Explore guides
  - name: Dedicated Support
    blurb: Get dedicated developer support through our forum or by contacting our support team.
    url: https://loona.ai
    cta: Learn more

search: true
home: true
---
  <div class="row index-page__section">
    <div class="card-list">
      <% current_page.data.primary_cards.each do |study| %>
        <div class="study-card my-2 secondary-card">
          <div class="study-blurb">
            <h2><%=study.name%></h2>
            <p><%=study.blurb%></p>
            <a href="<%=study.url%>" class="btn btn-big btn-primary card__sticky-button" >
              Read More
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row index-page__section">
    <h1> Start building with Loona API in minutes...</h1>
  </div>

  <div class="row">
    <div class="card-list">
      <% current_page.data.secondary_cards.each do |study| %>
        <div class="study-card">
          <div class="study-blurb">
            <h2><%=study.name%></h2>
            <p><%=study.blurb%></p>
            <a href="<%= study.url %>" class="plain-link card__sticky-button" >
              <%= study.cta %> <i class="fa fa-angle-right"></i>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row index-page__section">
    <div class="col-md-1">
    </div>
    <div class="col-md-3 become-partner__image">
    </div>
    <div class="col-md-7 become-partner__details">
      <h1> Sign up for a partner account to get started</h1>
      <p>Discover how our Partner Program can help your clients build the business of their dreams and make you money in the process</p>
      <a href="https://cabinet.loona.ai/cabinet-registration" target="blank_" class="btn btn-big btn-primary" >
        Become a partner
      </a>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
